body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */
.header {
    border-bottom: 1px solid #e7e9fc
}

.header-container {
    display: flex;
}

.nav-container {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-right: 332px;
}

.nav-item:hover,
.nav-item:focus {
    color: #404bbf;
}

.nav-item-studio:active {
    color: #404bbf;
    text-decoration: underline;
}

.nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.nav-item:hover,
.nav-item:focus {
    color: #404bbf;
}

.address-contacts {
    font-style: normal;
}

.address-list {
    display: flex;
    flex-direction: row;
    padding: 24px 0px 24px 0px;
    gap: 40px;
}

.address-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-item:hover, 
.address-item:focus {
    color: #404bbf;
}

/* Main */
.page-section {
    background-color: #2e2f42;
    padding: 188px 0
}

.page-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    background-color: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;
    padding-bottom: 48px;
    max-width: 496px;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 68px;
}

.button:hover,
.button:focus {
    background-color: #404BBF
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.studio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.studio-list {
    display: flex;
    gap: 24px;
}

.studio-list-item {
    width: calc((100% - 72px) / 4);
}

.studio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.studio-list-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-section {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}

.container-team-descr {
    padding: 32px 0;
}

.team-list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-list-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.app-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.app-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.app-list-item {
    width: calc((100% - 48px) / 3);
}

.container-app-descr {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.app-list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.app-list-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-bottom: 32px;
}

/* Footer */
.footer {
    background-color:#2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding-top: 16px;
    max-width: 264px;
}